body {
  font: 500 1rem / 1.625rem "Barlow", sans-serif;

  overflow: auto;
}

main {
  padding-top: 1em;
  margin-left: 15%;
  margin-right: 15%;
}

.pokemon {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.pokemon .name {
  text-transform: capitalize;
}

.pokemon .types {
  text-transform: capitalize;
  font-variant: small-caps;
}


.pokemonDetail {
  display: flex;
  flex-direction: column;

  
}

.pokemonDetail .info{

  display: flex;
  flex-direction: row;
  align-items:center ;
  padding-top: 1em;
}

.pokemonDetail .info2{

  display: flex;
  flex-direction: row;
  align-items:center ;
  padding-top: 1em;
 
}

.info .basic {
  display: flex;
  flex-direction: column;
  padding-left: 1.5em;
  
}

.pokemonDetail img {

  width : 10em;
  height: 10em;

}
.pokemonDetail .name {

  font-size: large;
  text-transform:uppercase;
  font-weight: bold;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.measure {
  padding-left: 0.5em;
}

.field {
  text-transform: capitalize;
  padding-left: 0.5em;
}



.fieldId {

  display: none;
}
.label {
font-weight: bold;
padding-right: 0.2em;

}

.columns {
column-count:4;
column-gap: 6em;
list-style-type: none;

}
a:hover {
  color: grey;
  cursor: pointer;
}
